body
    +light
    color: $text-color
.button-o
    text-transform: uppercase
    border: 2px solid $primary
    color: $primary
    padding: 17px 22px
    +bold
    background-color: #fff
.button
    padding: 25px 45px
    text-transform: uppercase
    border: none
    color: #ffffff
    +bold
    display: block
    background-color: $primary
.bg-secondary
    background: $bg-secondary
.input
    height: 80px
    padding-left: 30px
    border: 1px solid #dddddd
input[type="checkbox"]
    display: none 
    &:checked + label:before
        background-color: $primary
.checkbox           
    &-label
        display: flex
        align-items: center
        margin-left: 40px
        &::before
            content: ''
            height: 30px
            width: 30px
            border: 1px solid #dddddd
            margin-right: 20px
            &:hover
            cursor: pointer
@media (max-width: 450px)
    .button-o
        font-size: 12px
@media (max-width: 450px)
    .checkbox           
        &-label
            display: flex
            align-items: center
            margin-bottom: 20px
            
