body
    +light
    color: $text-color
.button-o
    text-transform: uppercase
    border: 2px solid $primary
    color: $primary
    padding: 17px 22px
    +bold
    background-color: #fff
.button
    padding: 25px 45px
    text-transform: uppercase
    border: none
    color: #ffffff
    +bold
    display: block
    background-color: $primary
@media (max-width: 450px)
    .button-o
        font-size: 12px
